@import _style-reset

.items-container
  &:before, &:after
    content ''
    clear both


.item
  width 19.744%
  float left
  margin 0.128%

.item-title
  font-size 1.5em
  font-weight bold

.item-img
  width 98%
  height auto