<!doctype html>
<html lang="ru" data-ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <!--sds-->
  <script src="vendor.js" defer></script>
  <script src="main.js" defer></script>
  <title>Магазин</title>
</head>
<body>
<div class="wrapper" data-ng-class="{'loaded':true}">
  <header>
	<!--HEADER-->
  </header>
  <section>
	<div class="show-slider">
	  <!--SLIDE A KIND SHOW-->
	</div>
	<div class="items-wrapper">
	  <!--ITEMS-->
	  <div data-ng-controller="SwitchShow as style">
        <div class="font0">
          <button class="list-style list-style--block" data-ng-click="style.switch(2)"
                  data-ng-class="{'active': style.showType == 2 }"></button>
          <button class="list-style list-style--inline" data-ng-click="style.switch(1)"
                  data-ng-class="{'active': style.showType == 1 }"></button>
        </div>
		<ul class="items-container" data-ng-controller="StoreController as store">
		  <li class="item" data-ng-repeat="product in store.products | orderBy: 'name'"
              data-ng-class="{ 'item--block': style.showType == 1 ,'item--inline': style.showType == 2 }">
			<p class="item-title">{{product.name}}</p>
			<img data-ng-src="{{product.src}}" alt="{{product.name}}" class="item-img">
			<p class="cost">Цена: {{product.cost}} грн</p>
		  </li>
		</ul>
	  </div>
	</div>
  </section>
  <footer>
  	<!--ABOUT US-->
  </footer>


</div>
</body>
</html>