<!DOCTYPE html>
<html lang="ru" data-ng-app="app">
<head>

    <!--  Meta  -->
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Angular shop</title>

    <!--  Styles  -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="main.css">

    <script src="vendor.js" defer></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="main.js" defer></script>
</head>
<body>
<div class="container-fluid" ng-class="{'isloaded':true}">

    <div class="jumbotron">
        <h1>Hello, everyone!</h1>
        <h3><small>Welcome to the Secret Shop! Enjoy!</small></h3>
    </div><!-- Jumbotron -->

    <div data-ng-controller="SwitchShow as style">
        <fieldset class="form-group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg"
                        data-ng-click="style.switch(2)"
                        data-ng-class="{'active': style.showType == 2 }">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button><!-- Button1 -->
                <button class="btn btn-default btn-lg"
                        data-ng-click="style.switch(1)"
                        data-ng-class="{'active': style.showType == 1 }">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button><!-- Button2 -->
            </div>
        </fieldset><!-- Button group -->

        <div data-ng-controller="StoreController as store">
            <div class="row">
                <div data-ng-repeat="product in store.products"
                     data-ng-class="{ 'item--block': style.showType == 1 ,'item--inline': style.showType == 2 }">
                    <item info="product" style="style"></item>
                </div><!-- item -->
            </div><!-- Row -->
        </div><!-- Content -->
    </div><!-- SwitchShowCtrl -->

    <div class="cart">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cartModal">
            Корзина <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
    </div><!-- Cart -->

    <cart-popup></cart-popup>

</div><!-- Container -->
</body>
</html>